<a href="https://colab.research.google.com/github/ApurbaPaul-NLP/BasicsOfPython/blob/main/11_09_2022_Python_Basics3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ask the user to enter their first name and then display the length of their name.

In [4]:
name=input("Enter your Name: ")
print(name)
print("The length is:",len(name))

Enter your Name: Apurba
Apurba
The length is: 6

Ask the user to enter their first name and then ask them to enter their surname. Join them together with a space between and display the name and the length of whole name.

In [5]:
fn=input("Enter the First Name:")
sn=input("Enter the Surname:")
name=fn+" "+sn
print(name)
print(len(name))

Enter the First Name:Apurba
Enter the Surname:Paul
Apurba Paul
11

Ask the user to enter their first name and surname in lower case. Change the case to title case and join them together.Display the finished result.



```
apurba--lower()
APURBA-upper()
Apurba---title()
```

In [6]:
fn=input("Enter the First Name in lowercase:")
sn=input("Enter the Surname in lowercase:")
fn=fn.title()
sn=sn.title()
name=fn+" "+sn
print(name)

Enter the First Name in lowercase:apurba
Enter the Surname in lowercase:paul
Apurba Paul

Ask the user to type in the first line of a nursery rhyme and display the length of the string. Ask for a starting number and an ending number and then display just that section of the text (remember Python starts counting from 0 and not 1).


```
twinkle twinkle little star
n1=0
n2=15
twinkle twinkle
```

In [7]:
sentence=input("Enter the first line of the rhyme")
print(len(sentence))
n1=int(input("Enter the first number:"))
n2=int(input("Enter the second number:"))
part=sentence[n1:n2]
print(part)

Enter the first line of the rhymetwinkle twinkle little star
27
Enter the first number:0
Enter the second number:15
twinkle twinkle

In [10]:
sentence=input("Enter the first line of the rhyme:")
print(type(sentence))
print(sentence[0])
print(sentence[1])
print(sentence[2])

Enter the first line of the rhyme:twinkle twinkle little star
<class 'str'>
t
w
i

In [11]:
sentence=input("Enter the name:")
for i in range(len(sentence)):
  print(i,'\t',sentence[i])

Enter the name:Apurba
0 	 A
1 	 p
2 	 u
3 	 r
4 	 b
5 	 a

In [12]:
sentence[0:3]

'Apu'

In [13]:
sentence[1:4]

'pur'

In [19]:
sentence[-6:-1]

'Apurb'

In [20]:
for i in range(len(sentence),0,-1):
  print(sentence[-i])

A
p
u
r
b
a

Ask the user to type in any word and display it in upper case.

In [21]:
word=input("Enter the word:")
print(word.upper())

Enter the word:apurba
APURBA

Ask the user to enter their first name. If the length of their first name is under five characters, ask them to enter their surname and join them together (without a space) and display the name in upper case. If the length of the first name is five or more characters, display their first name in lower case.

In [26]:
fn=input("Enter the First Name:")
fnl=len(fn)
if(fnl<5):
  sn=input("Enter the Surname:")
  name=fn+sn
  print(name.upper())
elif(fnl>=5):
  print(fn.lower())

Enter the First Name:SAHELY
sahely

Pig Latin takes the first consonant of a word,moves it to the end of the word and adds on an "ay". If a word begins with a vowel you just add "way" to the end. For example, pig becomes igpay, banana becomes ananabay, and aadvark becomes aadvarkway. Create a program that will ask the user to enter a word and change it into Pig Latin. Make sure the new word is displayed in lower case.

In [32]:
word=input("Enter the word:")
fc=word[0]
print(fc)
rest=word[1:len(word)]
print(rest)
if fc!='a' and fc!='A'and fc!='e' and fc!='E' and fc!='i' and fc!='I' and fc!='o' and fc!='O' and fc!='u' and fc!='U':
  newword=rest+fc+'ay'
else:
  newword=word+'way'
print(newword.lower())

Enter the word:APURBA
A
PURBA
apurbaway

Ask the user to enter a number with lots of decimal places. Multiply this number by two and display the answer.

In [33]:
num=float(input("Enter the float number:"))
print(num*2)

Enter the float number:1.99999999999999
3.99999999999998

Ask the user to enter a number with lots of decimal places. Multiply this number by two and display the answer in two decimal places

In [36]:
num=float(input("Enter the float number:"))
answer=num*2
print(answer)
print(round(answer,2))

Enter the float number:1.5656565656
3.1313131312
3.13

Ask the user to enter an integer that is over 500. Work out the square root of that number and display it to two decimal places.

In [40]:
import math
num=int(input("Enter the int number:"))
if(num>500):
  answer=math.sqrt(num)
  print(round(answer,2))
else:
  print("Please enter the number greater than 500")

Enter the int number:550
23.45

Display pi (π) to five decimal places.

In [43]:
import math
print(math.pi)
print(round(math.pi,5))

3.141592653589793
3.14159

Ask the user to enter the radius of a circle (measurement from the centre point to the edge). Work out the area of the circle (π*radius^2).

In [44]:
a=10
a*a

100

In [45]:
a**2

100

In [46]:
a**10

10000000000

In [47]:
rad=int(input("Enter the radius of the circle:"))
area=math.pi*(rad**2)
print(area)

Enter the radius of the circle:3
28.274333882308138

Ask for the radius and the depth of a cylinder and work out the total volume (circle area*depth) rounded to three decimal places.

In [50]:
import math
rad=int(input("Enter the radius:"))
depth=int(input("Enter the depth:"))
circle_area=math.pi*(rad**2)
volume=circle_area*depth
print(round(volume,3))

Enter the radius:3
Enter th depth:2
56.549

Ask the user to enter two numbers.Use whole number division to divide the first number by the second and also work out the remainder and display the answer in a user-friendly way (e.g. if they enter 7 and 2 display "7 divided by 2 is 3 with 1 remaining").

In [51]:
a=11
b=2
a/b

5.5

In [52]:
a//b

5

In [53]:
a%b

1

In [54]:
num1=int(input("Enter a number:"))
num2=int(input("Enter anothe number:"))
quotient=num1//num2
remainder=num1%num2
print(num1,"divided by", num2,"is",quotient,"with",remainder,"remaining")

Enter a number:11
Enter anothe number:2
11 divided by 2 is 5 with 1 remaining



```
Display the following message: 
1) Square 
2) triangle

Enter a number:

If the user enters 1, then it should ask them for the length of one of its sides and display the area. 

If they select 2, it should ask for the base and height of the triangle and display the area. 

If they type in anything else, it should give them a suitable error message.
```

In [58]:
print("1) Square")
print("2) Triangle")
print()
selection=int(input("Enter a number:"))
if(selection==1):
  side=int(input("Enter the side of the Square:"))
  area=side**2
  print("The area of the square is: ", area)

elif(selection==2):
  base=int(input("Enter the base of the triangle:"))
  height=int(input("Enter the height of the triangle:"))
  area=0.5*base*height 
  print("The area of the Triangle is: ",area)

else:
  print("it is a wrong number")

1) Square
2) Triangle

Enter a number:2
Enter the base of the triangle:3
Enter the height of the triangle:2
The area of the Triangle is:  3.0

Ask the user to enter their name and then display their name three times.

In [61]:
name=input("Enter your name:")
print(name*3)

Enter your name:Apurba
ApurbaApurbaApurba

Ask the user to enter their name and a number and then display their name that number of times.

In [62]:
name=input("Enter your name:")
num=int(input("Enter the number:"))
print(name*num)

Enter your name:Apurba
Enter the number:3
ApurbaApurbaApurba

Ask the user to enter their name and display each letter in their name on a separate line.

In [63]:
name=input("Enter your name:")
for i in range(len(name)):
  print(name[i])

Enter your name:Apurba
A
p
u
r
b
a

Ask the user to enter a number between 1 and 12 and then display the times table for that number.

In [68]:
num=int(input("Enter the number:"))
if(num>1 and num<12):
  for i in range(1,11):
    print(num,'X',i,"=",num*i)
else:
  print("Not in the range")

Enter the number:13
Not in the range